<link rel="stylesheet" href="css/styles.css">


<nav class="navbar navbar-expand-lg">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/generate"><i class="fa fa-home fa-2x"></i></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a href="/logout" class="btn my-sm-0">Logout</a>
    </form>
  </div>
</nav>
