<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-hat-wizard fa-6x"></i>
    <h1 class="display-3">microrandom.</h1>
    <p class="lead">An intelligent group generator intended to promote diversity,
      faciliate exchange of perspectives and reduce the inherent bias present
      in our world today.</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
