<%- include('partials/header') %>

<div class="jumbotron text-center" id="join-jumbotron">
  <div class="container">
    <i class="fas fa-hat-wizard fa-3x"></i>
    <h1 class="display-5">Join a Group</h1>
    <hr>
  </div>
</div>

<div class="center-div">
  <form action="/<%=userId%>/<%=groupId%>/joined-group" method="post">

    <div class="form-group">
      <label class="text-label" for="joinGroupName">Full Name</label>
      <input type="name" class="form-control" name="joinGroupName" placeholder="Enter full name here" required>
    </div>

    <div class="form-group">
      <label class="text-label" for="joinGroupEmail">Email Address</label>
      <input type="email" class="form-control" name="joinGroupEmail" placeholder="Enter email here" required>
    </div>

    <div class="form-group">
      <div>
        <label for="genderOption" class="text-label">Gender</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="joinGroupGender" value="Male" required>
        <label class="form-check-label" for="optionMale">Male</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="joinGroupGender" value="Female">
        <label class="form-check-label" for="optionFemale">Female</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="joinGroupGender" value="Other">
        <label class="form-check-label" for="optionOther">Other</label>
      </div>
    </div>

    <div class="form-group">
      <label for="joinGroupAge" class="text-label">Age</label>
      <select class="form-control" name="joinGroupAge">
        <option>< 18</option>
        <option>18-19</option>
        <option>20-21</option>
        <option>22-23</option>
        <option>24+</option>
      </select>
    </div>

    <div class="form-group">
      <label for="joinGroupEthnicity" class="text-label">Ethnicity</label>
      <select class="form-control" name="joinGroupEthnicity">
        <option>American Indian</option>
        <option>Asian</option>
        <option>African American</option>
        <option>Caucasian</option>
        <option>Hispanic</option>
        <option>Pacific Islander</option>
      </select>
    </div>

    <div class="form-group">
      <label for="joinGroupReligion" class="text-label">Religion</label>
      <select class="form-control" name="joinGroupReligion">
        <option>None</option>
        <option>Christian</option>
        <option>Muslim</option>
        <option>Buddhist</option>
        <option>Hindu</option>
        <option>Jewish</option>
        <option>Other</option>
      </select>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary text-center" id="join-button">Join</button>
    </div>

  </form>
</div>

<%- include('partials/footer') %>
