<%- include('partials/header') %>
<%- include('partials/navigation') %>

<div class="container">
  <div class="jumbotron centered">
    <h1>Manage</h1>
  </div>
</div>
<%- include('partials/footer') %>
