<%- include('partials/header') %>
<%- include('partials/navigation') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-hat-wizard fa-3x"></i>
    <h1 class="display-5">Group Preferences</h1>
    <hr>
  </div>
</div>

<div class="center-div">
  <p>Set your preferences.</p>
</div>

<%- include('partials/footer') %>
