<%- include('partials/header') %>
<%- include('partials/navigation') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-hat-wizard fa-3x"></i>
    <h1 class="display-5">Create Grouping</h1>
    <hr>
  </div>
</div>

<div class="container text-center">
  <form action="/<%=groupId%>/create-num-groups" method="get">
    <div class="form-group">
      <input type="range" name="inputNumGroups" id="inputNumGroupsId" value="10" min="1" max="20" oninput="outputNumGroupsId.value = inputNumGroupsId.value">
      <output name="outputNumGroups" id="outputNumGroupsId">10</output>
    </div>
    <div class="form-group text-center">
      <input type="submit" class="btn btn-primary text-center"></input>
    </div>
  </form>
</div>

<%- include('partials/footer') %>
