<%- include('partials/header') %>

<nav class="navbar navbar-expand-lg">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/"><i class="fa fa-arrow-left fa-2x"></i></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container registration-component">
  <h1>Register</h1>
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <form action="/register" method="POST">
            <div class="form-group">
              <label for="name">Full Name</label>
              <input type="name" class="form-control" name="name">
            </div>
            <div class="form-group">
              <label for="username">Email</label>
              <input type="username" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-dark">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/header') %>
